body{
    font: 20px Arial, sans-serif;
}

.navbar {
    background-color: #33cc33;
}

.quem-somos{
    background-color: #008b8b;
    color:beige
}

.margin{
    padding-bottom: 50px;
}

.parceiros{
    background-color: #6699ff;
    padding: 10px;
}